/*effects & animation*/
.background{
    width: 100%;
    position: relative;
}
.sky {
	width: 100%;
	position: relative;
	z-index: 1;
}
.baloon {
	width: 1000px;
	position: absolute;
	top: 400px;
	left: 50px;
	animation: baloon 28s infinite;
	z-index: 3;
}
.bird {
	position: absolute;
	width: 300px;
	top: 900px;
	transform: rotate(-50deg);
	animation: bird 10s infinite;
	z-index: 2;
}

/*Keyframes*/
@keyframes bird {
	0%{right: 3%;}
	25%{right: 30%; top: 10%}
	70%{right: 75%;}
	95%{right: 100%;}
}

@keyframes baloon {
    from {left: 0px;}
    to {left: 100%;}
}
